<header class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo Stiven" />
  </div>
  <nav [class.open]="menuOpen">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/articles" routerLinkActive="active">Sobre mí</a></li>
      <li><a routerLink="/portfolio" routerLinkActive="active">Formación</a></li>
      <li><a routerLink="/articles" routerLinkActive="active">Artículos</a></li>
    </ul>
  </nav>
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</header>
