<div class="home-container">
  <div class="home-header-line">
    <hr />
    <div class="icon-wrapper">
      <img src="assets/logo_SA.png" alt="Logo Stiven" class="icon-image" />
    </div>
  </div>

  <h1 class="home-title">¡Bienvenido a Stiven Code Journal!</h1>
  <p class="home-subtitle">Soy un ingeniero de software con amplios conocimientos
    dispuesto a compartirlos y aprender cada día más. <br /> <br />
    Adicionalmanete, estaré subiendo artículos cuidadosamente elaborados sobre 
    arquitectura de software, patrones de diseño, DevOps, desarrollo backend y mucho más.
    Mi objetivo es compartir conocimiento, experiencias y buenas prácticas que impulsen a otros 
    desarrolladores a crecer y evolucionar en este apasionante mundo.</p>
  <hr class="line-bottom" />
</div>

<div id="sobremi" class="intro-section">
  <div class="intro-content">
    <div class="intro-left">
      <h1>¡Hola! Soy Stiven</h1>
      <p>
        Soy un apasionado por el desarrollo, la arquitectura, el diseño limpio y la eficiencia del código. 
        Este sitio es mi espacio para compartir conocimientos, experiencias y artículos técnicos a lo largo de mi carrera.
        También vas a encontrar mi información profesional, como mi experiencia y algunos proyectos
      </p>
    </div>

    <div class="intro-right">
      <img src="assets/figura.jpeg" alt="Stiven Arboleda" />
    </div>
  </div>

  <div class="intro-button">
    <button (click)="goToPortfolio()">Ver mi hoja de vida</button>
  </div>
</div>

<app-formacion id="formacion"></app-formacion>
<app-proyectos id="proyectos"></app-proyectos>
<app-experiencia id="experiencia"></app-experiencia>
<app-portafolio id="articulos"></app-portafolio>



    <!-- Footer -->
    <div class="article-footer">
      <hr class="footer-line" />
      <p class="footer-text">© Hecho por Stiven 2025. Todos los derechos reservados.  |  La evolución se desarrolla.</p>
      <hr class="footer-line" />
  </div>

