.home-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px 10px;
  text-align: center;
  color: #333;
}

.home-header-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color: #18777C;
  }

  .icon-wrapper {
    background-color: #EEEBE4;
    border-radius: 50%;
    padding: 10px;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 35px;
    z-index: 1;
  }

  .icon-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.home-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 25px;
}

.line-bottom {
  border: none;
  height: 3px;
  background-color: #18777C;
  margin-bottom: 2px;
}

//Presentacion

.intro-section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; // Reducción de espacio
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.intro-left,
.intro-right {
  flex: 1 1 300px;
  padding: 10px;
}

.intro-left {
  h1 {
    font-size: 2.5rem;
    color: #504395;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
  }
}

.intro-right img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
}

.intro-button {
  margin-top: 30px;

  button {
    background-color: #18777C;
    color: white;
    font-size: 1rem; 
    padding: 17px 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0f5c60;
    }
  }
}

.intro-text {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.7;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.intro-image {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}


.intro-title {
  font-size: 2.5rem;
  color: #504395;
  margin-bottom: 15px;
}

.portfolio-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #18777C;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #125b5f;
  }
}

.article-footer {
  max-width: 1000px; 
  margin: 0 auto;
  text-align: center;

  .footer-line {
    border: none;
    height: 2px;
    background-color: #18777C;
    margin: 10px auto;
    width: 100%;
  }

  .footer-text {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
