<div class="home-container">
  <div class="home-header-line">
    <hr />
    <div class="icon-wrapper">
      <img src="/logo_SA.png" alt="Logo Stiven" class="icon-image" />
    </div>
  </div>

  <h1 class="home-title">¡Bienvenido a Stiven Code Journal!</h1>
  <p class="home-subtitle">Encontrarás artículos cuidadosamente elaborados sobre 
    arquitectura de software, patrones de diseño, DevOps, desarrollo backend y mucho más.
    Mi objetivo es compartir conocimiento, experiencias y buenas prácticas que impulsen a otros 
    desarrolladores a crecer y evolucionar en este apasionante mundo.</p>
  <hr class="line-bottom" />
</div>

<div class="intro-section">
  <div class="intro-content">
    <div class="intro-left">
      <h1>¡Hola! Soy Stiven</h1>
      <p>
        Soy ingeniero de software apasionado por la arquitectura, el diseño limpio y la eficiencia en el desarrollo. Este sitio es mi espacio para compartir conocimientos, experiencias y artículos técnicos a lo largo de mi carrera.
      </p>
    </div>

    <div class="intro-right">
      <img src="figura.jpeg" alt="Stiven Arboleda" />
    </div>
  </div>

  <div class="intro-button">
    <button (click)="goToPortfolio()">Ver mi portafolio</button>
  </div>
</div>


<app-portafolio></app-portafolio>
